@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

.nav-links-menu {
  display: flex;
  justify-content: space-around;
  min-height: 80px;
  align-items: center;
  background: #2A3047;
  margin-bottom: 30px;
  border-bottom: 1px solid white;
  > a{
    text-decoration: none;
    font-size: 26px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
    transition: 1s;
    animation: nav-link-menu 4s 1;
  }
  @keyframes nav-link-menu {
    0%{
      font-size: 0;
    }
    50%{
      font-size: 0;
      margin-left: 1000px;
    }
    85%{
      font-size: 40px;
      letter-spacing: 20px;
    }
  }
  a.active{
    color: rgba(132, 0, 255, 0.8);
    transition: 1s;
    font-size: 34px;
  }
  a:hover{
    transition: 1s;
    font-size: 34px;
  }
}

@media screen and (max-width: 414px) {
  .nav-links-menu{
    > a{
      font-size: 16px;
    }
    a:hover{
      font-size: 18px;
    }
    a:active{
      transition: 1s;
      font-size: 18px;
    }
  }
}